# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
data/*.csv
data/*.zip
data/*.tar
data/*.h5
data/*.pkl

# Model files
models/
*.h5
*.pt
*.pth
*.onnx
*.joblib
*.pickle

# Logs and Debugging Files
logs/
*.log
wandb/
*.out

# TensorBoard and Plot Outputs
runs/
*.tensorboard
*.png
*.jpg

# Environment and Dependency Management
*.conda
*.env
*.DS_Store
*.yaml
requirements.txt.lock

# IDE and OS Specific Files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.orig
